@model MovieProject.Entity.Movie

<form asp-controller="Movie" asp-action="AddMovie" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Movie Name:</label>
                <input type="text" class="form-control" name="MovieName" />
            </div>

            <div class="form-group">
                <label>Movie Date</label>
                <input type="date" class="form-control" name="MovieDate" />
            </div>


            <div class="form-group">
                <label>Movie IMDB</label>
                <input type="number" class="form-control" name="MovieImdb" />
            </div>



            <div class="form-group">
                <label>Kategori</label>
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cv, new {@class = "form-control"})
            </div>

            <button class="btn btn-primary" type="submit">Create Movie</button>
        </div>
    </div>
</form>