@model List<MovieProject.Entity.Category>

<a asp-action="AddCategory" asp-controller="Category" class="btn btn-primary btn-sm mb-3">Add Category</a>

<table class="table table-bordered table-striped" style="width:100%">
    <tr class="align-middle text-primary">
        <th>#</th>
        <th>Category Name</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td><a asp-action="UpdateCategory" asp-route-id="@item.CategoryId" asp-controller="Category" class="btn btn-outline-primary mx-2">Update Cat</a></td>
            <td><a asp-action="DeleteCategory" asp-route-id="@item.CategoryId" asp-controller="Category" class="btn btn-outline-danger mx-2">Delete Cat</a></td>
        </tr>
    }
</table>


